<!-- Boton -->
<span class="align-middle  boton_navegacion_mobiles"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="fa-solid fa-bars"></i></span>
<!--Menu-->
<div class="offcanvas offcanvas-start bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="perfil">
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <img src="../assets/img/foto_perfil.jpg" class="img-fluid mx-auto d-block" [alt]="persona.nombre+'_'+persona.apellido">
        <h4 class="offcanvas-title text-light text-center" id="offcanvasScrollingLabel"><a href="#acerca-de-mi">{{persona.nombre}} {{persona.apellido}}</a></h4>
        <div class="mt-3 text-center sosial-icon">
            <a [href]="aboutMe.facebook" target="_blank" class="m-2">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a [href]="aboutMe.instagram" target="_blank" class="m-2">
                <i class="fa-brands fa-instagram-square"></i>
            </a>
            <a [href]="aboutMe.linkedin" target="_blank" class="m-2">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
    <div class="offcanvas-body perfil text-start">
        <!-- navbar -->
        <nav class="nav flex-column mt-5">
            <a class="nav-link active" aria-current="page" href="#hero"><i class='bx bx-home pe-2'></i><span>Inicio</span></a>
            <a class="nav-link" href="#acerca-de-mi"><i class='bx bx-user pe-2'></i><span>Acerca de mi..</span></a>
            <a class="nav-link" href="#skills"><i class="fa-solid fa-align-left pe-2"></i><span>Skills</span></a>
            <a class="nav-link" href="#experiencia"><i class='bx bx-server pe-2'></i><span>Experiencia</span></a>
            <a class="nav-link" href="#portafolio"><i class='bx bx-book-content pe-2'></i><span>Portafolio</span></a>
            <a class="nav-link" href="#contactame"><i class='bx bx-envelope pe-2'></i><span>Contactame</span></a>
        </nav>
    </div>
</div>