<!-- Experiencia -->
<section id="experiencia">
    <div class="container mt-4">
        <div class="titulo-seccion">
            <h2>Experiencia</h2>
            <p>Experiencia laboral relevante en diferentes empresas y liderando equipos de trabajo.</p>
        </div>
        <div class="container-experiencia">
            <div class="timeline">
              <ul>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">Actualidad</h3>
                    <h1>Operador de Sistemas</h1>
                    <p>Procesamiento de datos en Banco Tierra del Fuego, Ushuaia Argentina.</p>
                  </div>
                </li>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">12 may, 2022</h3>
                    <h1>Ingeniería de Procesos</h1>
                    <p>Análisis y optimización de los procesos productivos.
                      Desarrollo y seguimiento de nuevos proyectos.
                      Supervisión de calidad en la línea de producción.
                      Implementación y análisis de KPIs.</p>
                  </div>
                </li>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">12 abr, 2022</h3>
                    <h1>Planificador de Producción</h1>
                    <p>Diseño de plan de producción. Determinación y
                      calculo de los volúmenes de producción y stock.</p>
                  </div>
                </li>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">8 mar, 2021</h3>
                    <h1>Responsable de Logística</h1>
                    <p>Gestión y planificación de las actividades de
                      transporte, almacenaje y distribución. Optimización en los
                      plazos de entregas y almacenamiento de producto terminado.</p>
                  </div>
                </li>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">20 mar, 2018</h3>
                    <h1>Supervisor de Producción</h1>
                    <p>Supervisión y optimización de la producción. Asegurar la
                      calidad del producto. Líder de equipos.</p>
                  </div>
                </li>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">20 mar, 2018</h3>
                    <h1>Supervisor de Producción</h1>
                    <p>Supervisión y optimización de procesos productivos.
                      Carga de indicadores de producción. Asegurar la
                      calidad del producto. Formación a los operarios de
                      máquinas y operarios de clasificación. Líder de
                      equipos.</p>
                  </div>
                </li>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">20 mar, 2018</h3>
                    <h1>Soporte IT</h1>
                    <p>Implementación, administración y monitoreo de Networking.
                      Administración de servidores NAS, Firewall, FTP,
                      Active Directory. GNU/Linux Debian. Configuración Cisco y Mikrotik. Auditoria de Red.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
    </div>
</section>