 <!-- Skills -->
 <section id="skills" class="section-bg">
    <div class="container mt-2">
        <div class="titulo-seccion">
            <h2>Skills</h2>
            <p>Capacidad y conocimientos técnicos orientados al desarrollo, que he absorbido a lo largo de mi trayectoria en el sector IT.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="skill-bars">
                    <div class="bar">
                      <div class="info">
                        <span>HTML</span>
                      </div>
                      <div class="progress-line html">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>CSS</span>
                      </div>
                      <div class="progress-line css">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>JavaScript</span>
                      </div>
                      <div class="progress-line javascript">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>Angular</span>
                      </div>
                      <div class="progress-line angular">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>MySQL</span>
                      </div>
                      <div class="progress-line mysql">
                        <span></span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="skill-bars">
                    <div class="bar">
                      <div class="info">
                        <span>Java</span>
                      </div>
                      <div class="progress-line java">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>C / C++</span>
                      </div>
                      <div class="progress-line c">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>Python</span>
                      </div>
                      <div class="progress-line python">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>GitHub</span>
                      </div>
                      <div class="progress-line github">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>TypeScript</span>
                      </div>
                      <div class="progress-line typescript">
                        <span></span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>