<!-- Contactame -->
<section id="contactame">
    <div class="container">
      <div class="titulo-seccion">
          <h2>Contactame..</h2>
      </div>

        <div class="row entradas_form">
            <div class="col-md-12">

                    <form class="form-horizontal" method="post">
                        <fieldset>

                            <div class="form-group row mb-3">
                                <span class="col-sm-1 "><i class="fa fa-user bigicon"></i></span>
                                <div class="col-sm-11 tamanio">
                                    <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control">
                                </div>
                            </div>
                                    
                            <div class="form-group row mb-3">
                                <span class="col-sm-1"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-sm-11 tamanio">
                                    <input id="email" name="email" type="text" placeholder="Direccion de email" class="form-control">
                                </div>
                            </div>
    
                            <div class="form-group row mb-3">
                                <span class="col-sm-1"><i class="fa fa-whatsapp bigicon"></i></span>
                                <div class="col-sm-11 tamanio">
                                    <input id="telefono" name="telefono" type="text" placeholder="whatsapp" class="form-control">
                                </div>
                            </div>
    
                            <div class="form-group row mb-3">
                                <span class="col-sm-1"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                <div class="col-sm-11 tamanio">
                                    <textarea class="form-control" id="message" name="message" placeholder="Escribime tu mensaje aquí.." rows="7"></textarea>
                                </div>
                            </div>
    
                            <div class="form-group row mb-3">
                                <div class="col-sm-12 text-end tamanio-btn">
                                    <button type="enviar" class="btn btn-primary btn-lg btn_enviar">Enviar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
              
            </div>
        </div>

    </div>
  </section>