<!-- Seccion Acerca de mi -->
<section id="acerca-de-mi">
    <div class="container">
        <div class="titulo-seccion">
            <h2>Acerca de mi</h2>
            <p>Los últimos cuatro años me he
                encontrado inmerso en tareas
                operativas y administrativas dentro de la
                industria. Esto me abrió un mundo de
                nuevas oportunidades no tan solo
                laborales sino de crecimiento personal.</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="../assets/img/foto_perfil.jpg" alt="Lucas Paez" class="position-relative top-50 start-50 translate-middle">
            </div>
            <div class="col-lg-8">
                <h3>Soporte Técnico IT & Desarrollador</h3>
                <ul class="lista">
                    <li><i class="fa-solid fa-angle-right"></i><b>Fecha de Nacimiento:</b> 16 Jul 1985</li>
                    <li><i class="fa-solid fa-angle-right"></i><b>Edad:</b> 37 años</li>
                    <li><i class="fa-solid fa-angle-right"></i><b>Ciudad:</b> Ushuaia, Argentina</li>
                    <li><i class="fa-solid fa-angle-right"></i><b>email:</b> lucaspaez.ar@gmail.com</li>
                    <li><i class="fa-solid fa-angle-right"></i><b>Sitio Web:</b> lucaspaez.github.io</li>
                    <li><i class="fa-solid fa-angle-right"></i><b>Freelance:</b> Si</li>
                </ul>
            </div>
        </div>
    </div>
</section>