<!-- Portafolio -->
<section id="portafolio" class="section-bg">
    <div class="container">
      <div class="titulo-seccion">
        <h2>Portafolio</h2><span (click)="editarPortafolio()" *ngIf="isLogged" class="botonEditar" data-bs-toggle="modal" data-bs-target="#editarPortafolioModal"> <i class='bx bxs-edit-alt'></i> Editar Portafolio</span>
      </div>
      <div class="tarjetas">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="../assets/img/asaarsj.png" class="card-img-top" alt="asaarsj">
              <div class="card-body">
                <h5 class="card-title">Asociación Sanjuanina de Anestesia, Analgesia y Reanimación</h5>
                <p class="card-text">Este Proyecto fue realizado en Wordpress.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../assets/img/portafolio.png" class="card-img-top" alt="Portafolio">
              <div class="card-body">
                <h5 class="card-title">Portafolio</h5>
                <p class="card-text">Este proyecto fue realizado en HTML Bootstrap y JavaScript.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Modal -->
<div class="modal fade" id="editarPortafolioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Portafolio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>